body {
    margin: 0px;
    padding: 0px;
}

img {
    width: 500px;
    height: 300px;
    margin: 0px 80px;
}

.blank-img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: solid 2px #3882F6;
}

.first-section, footer  {
    background-color: #1F2937;
}

.logo {
    font-weight: bold;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.text, a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .sign-up {
    background-color: #3882F6;
    color: #FFF;
}

button {
    border-radius: 5px;
    border: 2px solid #3882F6;
    padding: 4px 18px;
    font-weight: bold; 
}

#bottom-button {
    border: 2px solid #F9FAF8;
    margin: 12px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 16px;
}

.quote-section {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    margin: 32px 0px;
}

.quote-container {
    width: 60%;
    margin: auto;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    color: #1F2937;
    padding: 24px;
}

.author {
    font-weight: bold;
    text-align: right;
}

footer {
    color: #FFF;
    text-align: center;
    padding: 24px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0px 8px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 70%;
    margin: auto;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
    width: 450px;
    margin: 0px 80px;
}

.item-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.item {
    width: 150px;
}

.item-text {
    text-align: center;
}

.sign-up {
    width: 50%;
    margin: 50px auto;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    justify-content: space-around;
}
